{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo List</title>
        <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}">
    </head>
    <body>
        {% include 'header.html' %}
        
        {% block content %}
        {% endblock %}

        {% include 'footer.html' %}
    </body>

    <script src="{% static 'tasks/js/scripts.js' %}"></script>
</html>